<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\NLog.Extension.RabbitMQ.Examples.WebApi-Internal-NLog.txt">

  <extensions>
    <!-- Enable RabbitMQ Target -->
    <add assembly="NLog.Extension.RabbitMQ.Target" />
  </extensions>
  
  <!-- the targets to write to -->
  <targets>  
    <target name="logstash"
            xsi:type="RabbitMQ"
            username="logUser"
            password="logPwd"     
            routingkey="ApplicationLog"
            virtualhost="EnterpriseLog"
            layout='{ "date":"${longdate}" , "eventId":"${event-properties:item=EventId_Id}", "level":"${uppercase:${level}}", "logger":"${logger}", "message":"${message} ${exception:format=tostring}", "url": "${aspnet-request-url}", "action":"${aspnet-mvc-action}" }'
            />  
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>  
    <logger name="*" minlevel="Trace" writeTo=" logstash" />
  </rules>
</nlog>